# 請把這份檔案複製成 .env，並填入你的值
# （.env 請勿提交到 git）

# LINE Developers -> Messaging API Channel
LINE_CHANNEL_SECRET= 5ddd404c3e30a5c5ab5d7192ba6a9adb
LINE_CHANNEL_ACCESS_TOKEN=

# 只有「推播」腳本才需要
LINE_TARGET_ID=

